:root {
  --color-black: #000;
  --color-white: #fff;
  --color-accent-1: #00868A;
  --color-accent-2: #4FBFA5;
  --color-accent-3: #e5f3f3;
  --font-family: "Gilroy", sans-serif;
  --high-bold: 700 24px / 140% var(--font-family);
  --middle-regular: 400 18px / 18px var(--font-family);
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1344px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-white);
  width: 70px;
  height: 50px;
  border: 1px solid var(--color-white);
}
.arrow__left {
  transform: scale(-1, 1);
}
.arrow:hover {
  transition: 0.2s ease-in-out;
  color: black;
}

.more {
  max-width: 200px;
  display: flex;
}
.more__text {
  color: var(--color-white);
  text-transform: uppercase;
}

body .active {
  overflow: hidden;
}

.header {
  left: 0;
  top: 0;
  color: var(--color-black);
  font: var(--medium-regular);
  font-size: 16px;
  background-color: var(--color-white);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__flex-end {
  display: flex;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .header__list {
    display: none;
  }
}
.header__item {
  display: flex;
  align-items: center;
  padding: 0 28px;
  height: 90px;
}

.blind {
  display: flex;
  align-items: center;
  padding: 0;
  height: 90px;
}
.blind__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 40px;
  background-color: var(--color-accent-1);
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
}
.blind__btn:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.blind__text {
  padding-left: 10px;
}
@media (min-width: 1280px) {
  .blind__nav {
    display: none;
  }
}
@media (max-width: 1280px) {
  .blind__header {
    display: none;
  }
}

.tel {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 90px;
}
.tel__number {
  color: var(--color-black);
}
@media (max-width: 768px) {
  .tel {
    padding: 0 10px;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 90px;
  min-width: 210px;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .logo {
    padding: 0 10px;
  }
}
@media (max-width: 420px) {
  .logo {
    min-width: 150px;
  }
}

.nav {
  padding: 35px 0;
}
.nav__container {
  background-color: var(--color-accent-2);
}
.nav--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .nav__list {
    flex-direction: column;
    line-height: 2;
    font-size: 28px;
    text-align: center;
    padding: 0yy;
  }
}
.nav__item {
  color: var(--color-white);
  font-size: 18px;
  padding-right: 65px;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .nav__item {
    padding: 0;
  }
}
.nav__item:hover {
  transition: 0.3s ease-in-out;
  color: var(--color-accent-1);
}
.nav__link {
  display: flex;
  align-items: center;
  color: var(--color-white);
}
.nav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 40px;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 18px;
}
.nav__btn:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--color-accent-3);
}

.hero {
  left: 0;
  top: 0;
  color: var(--color-white);
  background-color: var(--color-accent-2);
}
.hero__title {
  margin: 0;
  font-family: var(--high-bold);
  font-size: 48px;
}
.hero__content {
  display: flex;
}
@media (max-width: 650px) {
  .hero__content {
    flex-direction: column;
  }
}
.hero__left {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__right {
  left: 0;
  top: 0;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 790px;
  height: 533px;
}
@media (max-width: 650px) {
  .hero__right {
    width: 100%;
    height: 300px;
  }
}
.hero__descr {
  line-height: 1.5;
  font-size: 18px;
  max-width: 80%;
}
.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 50px;
  background-color: var(--color-accent-1);
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
}
.hero__btn:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}
.hero__link {
  padding-bottom: 10px;
}
.hero__img {
  margin: 0;
}

.slider__nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.links__item {
  padding: 30px 0;
  color: var(--color-white);
  text-align: center;
  font-size: 21px;
  width: 100%;
}
.links__item:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .links__item {
    padding: 15px 0;
    font-size: 16px;
  }
}
.links__item:nth-child(odd) {
  background-color: var(--color-accent-1);
}
.links--1 {
  width: 50%;
}
@media (max-width: 525px) {
  .links--1 {
    width: 100%;
  }
}
.links--2, .links--3 {
  width: 25%;
}
@media (max-width: 525px) {
  .links--2, .links--3 {
    width: 100%;
  }
}

.innovations {
  top: 0;
  left: 0;
  padding: 80px 0;
}
@media (max-width: 768px) {
  .innovations {
    padding: 30px 0;
  }
}
.innovations__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 900px) {
  .innovations__container {
    flex-direction: column;
  }
}
.innovations__left {
  background-color: var(--color-accent-1);
  color: var(--color-white);
  max-width: 42%;
}
@media (max-width: 900px) {
  .innovations__left {
    max-width: 100%;
  }
}
.innovations__title {
  font-weight: 400;
  display: inline-block;
  font-size: 18px;
  background-color: var(--color-accent-2);
  padding: 10px;
  margin: 40px 0 30px 40px;
  color: var(--color-white);
}
.innovations__descr {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 30px 40px;
}
.innovations__arrow {
  margin-right: 20px;
}
.innovations__more {
  margin: 0 0 30px 40px;
}
.innovations__img {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 280px;
}
.innovations__right {
  width: 58%;
  position: relative;
}
@media (max-width: 900px) {
  .innovations__right {
    width: 100%;
  }
}
.innovations__title--right {
  padding: 10px;
  margin: 40px 0 30px 40px;
}

.patent {
  position: absolute;
  background-image: url("../img/patent.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 306px;
  height: 400px;
  top: 100px;
  right: 50px;
  opacity: 0.3;
}
@media (max-width: 1100px) {
  .patent {
    right: 10px;
  }
}
@media (max-width: 1010px) {
  .patent {
    right: -20px;
  }
}

.statistic__item {
  z-index: 999;
  display: flex;
  flex-direction: row;
  color: gray;
  padding: 10px;
  margin: 40px 0 30px 40px;
}
.statistic__number {
  font-size: 48px;
  margin: 0;
  padding-right: 10px;
  z-index: 1;
}
.statistic__number--active {
  font-weight: 500;
  font-size: 78px;
  color: var(--color-accent-1);
}
.statistic__descr {
  max-width: 170px;
  line-height: 1.5;
  margin: 0;
  font-size: 14px;
  padding-top: 5px;
  z-index: 1;
}
.statistic__descr--active {
  font-size: 24px;
  max-width: 300px;
  padding-top: 10px;
  color: var(--color-black);
}
@media (max-width: 480px) {
  .statistic__descr--active {
    font-size: 20px;
    line-height: 1.3;
  }
}

.news {
  top: 0;
  left: 0;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .news {
    padding-bottom: 30px;
  }
}
.news__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .news__container {
    flex-direction: column;
  }
}
.news__left {
  background-color: var(--color-accent-2);
  color: var(--color-white);
  max-width: 42%;
}
@media (max-width: 768px) {
  .news__left {
    max-width: 100%;
  }
}
.news__title {
  font-weight: 400;
  display: inline-block;
  font-size: 18px;
  background-color: var(--color-accent-1);
  padding: 10px;
  margin: 40px 0 30px 40px;
  color: var(--color-white);
}
.news__right {
  max-width: 58%;
  background-color: var(--color-accent-3);
}
@media (max-width: 768px) {
  .news__right {
    max-width: 100%;
  }
}
.news__right__title {
  font-weight: 600;
  color: var(--color-black);
  font-size: 24px;
  padding: 40px 40px 20px 40px;
  margin: 0;
}
@media (max-width: 768px) {
  .news__right__title {
    display: none;
  }
}
.news__circle {
  fill: var(--color-accent-1);
  margin-bottom: 18px;
  margin-right: 10px;
}

.tabs__nav {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  padding-bottom: 20px;
}
.tabs__nav-btn {
  text-decoration: none;
  font-size: 16px;
  padding: 10px 30px 10px 40px;
  cursor: pointer;
}
.tabs__nav-btn.active, .tabs__nav-btn:hover {
  background-color: var(--color-accent-1);
  transition: 0.3s ease-in-out;
}
.tabs__content {
  color: var(--color-black);
  font-size: 16px;
  padding: 10px 30px 10px 40px;
}
.tabs__item {
  display: none;
}
.tabs__item.active {
  display: block;
}

.offers {
  top: 0;
  left: 0;
  padding-bottom: 80px;
  background: linear-gradient(var(--color-accent-3) 50%, var(--color-white) 50%);
}
.offers__title {
  text-align: center;
  font-size: 48px;
  color: var(--color-accent-1);
  padding: 50px 0;
}
@media (max-width: 550px) {
  .offers__title {
    font-size: 36px;
  }
}
.offers__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.offers__item {
  margin: 0 auto;
  width: 23%;
}
@media (max-width: 1050px) {
  .offers__item {
    width: 47%;
    padding-bottom: 30px;
  }
}
@media (max-width: 550px) {
  .offers__item {
    width: 90%;
  }
}
.offers__item:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.offers__item:not(:last-child) {
  padding-right: 15px;
}
@media (max-width: 1050px) {
  .offers__item:not(:last-child) {
    padding-right: 0;
  }
}
.offers__item__name {
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}
.offers__item__category {
  font-weight: 400;
  display: inline-block;
  font-size: 16px;
  background-color: var(--color-accent-1);
  padding: 10px;
  margin: 25px 0 0 25px;
  color: var(--color-white);
}
.offers__item__link {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: var(--color-accent-1);
  margin: 0;
  color: var(--color-white);
  padding: 0 10px 0 10px;
}
.offers__item__descr {
  line-height: 1.5;
  font-size: 18px;
}
@media (max-width: 1050px) {
  .offers__item__descr {
    padding-right: 40px;
  }
}

.services {
  top: 0;
  left: 0;
  padding-bottom: 50px;
}
.services__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .services__container {
    flex-direction: column;
    align-items: center;
  }
}
.services-left {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .services-left {
    padding-left: 30px;
  }
}
.services-left__item-container {
  width: 30%;
}
.services-left__title {
  color: var(--color-black);
  font-size: 24px;
  font: var(--high-bold);
  margin: 0;
  padding: 20px 0;
}
.services-left__link {
  color: var(--color-black);
  line-height: 1;
}
@media (max-width: 420px) {
  .services-left__link {
    font-size: 14px;
  }
}
.services-left__item:not(last-child) {
  margin: 0 0 9px 5px;
}
@media (max-width: 768px) {
  .services-left {
    width: 100%;
  }
}
.services-right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .services-right {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .services-right {
    flex-wrap: wrap;
  }
}
.services-right__container {
  padding: 0 5px;
}
@media (max-width: 768px) {
  .services-right__container {
    flex-direction: column;
  }
}
.services-right__container--1 {
  padding-right: 30px;
}
@media (max-width: 600px) {
  .services-right__container--1 {
    width: 100%;
  }
}
.services-right__title {
  color: gray;
  font: var(--high-bold);
  font-size: 14px;
}
.services-right__tel, .services-right__address {
  color: var(--color-black);
  font: var(--high-bold);
  font-size: 18px;
  padding-bottom: 10px;
}
@media (max-width: 600px) {
  .services-right__tel, .services-right__address {
    font-size: 14px;
  }
}
.services-right__btn {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-accent-1);
  padding: 10px;
  color: var(--color-white);
  cursor: pointer;
  width: 170px;
  height: 40px;
}
.services-right__btn:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}
.services-right__btn-link {
  text-decoration: none;
}

.footer {
  left: 0;
  top: 0;
  color: var(--color-black);
  font: var(--medium-regular);
  font-size: 16px;
  background-color: var(--color-white);
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__item {
  display: flex;
  align-items: center;
  padding: 0 28px;
  height: 90px;
}
.footer__descr {
  display: flex;
  height: 90px;
  align-items: center;
}
.footer__text {
  color: var(--color-black);
  font-size: 12px;
  max-width: 50%;
  margin-left: 20px;
}
.footer__link {
  text-decoration: underline;
  color: var(--color-black);
  font-size: 12px;
  margin-left: 40px;
}

.menu {
  display: flex;
}
@media (max-width: 1280px) {
  .menu {
    flex-direction: column;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: var(--color-accent-1);
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .menu li {
    list-style-type: none;
  }
  .menu.active {
    transform: translateX(0);
  }
}
.menu-btn {
  min-width: 30px;
  height: 30px;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
@media (min-width: 1281px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-accent-2);
  transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}
/*# sourceMappingURL=main.css.map */
