.offers {
    top: 0;
    left: 0;
    padding-bottom: 80px;
    background: linear-gradient(var(--color-accent-3) 50%, var(--color-white) 50%);
    &__title {
        text-align: center;
        font-size: 48px;
        color: var(--color-accent-1);
        padding: 50px 0;
        @media (max-width: 550px) {
            font-size: 36px;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__item {
        margin: 0 auto;
        width: 23%;
        @media (max-width: 1050px) {
            width: 47%;
            padding-bottom: 30px;
        }
        @media (max-width: 550px) {
            width: 90%;
        }

        &:hover {
            transition: 0.3s ease-in-out;
            opacity: 0.9;
        }
        &:not(:last-child) {
            padding-right: 15px;
            @media (max-width: 1050px) {
                padding-right: 0;
            }
        }
        &__name {
            background-image: url("../img/hero.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 200px;
        }
        &__category {
            font-weight: 400;
            display: inline-block;
            font-size: 16px;
            background-color: var(--color-accent-1);
            padding: 10px;
            margin: 25px 0 0 25px;
            color: var(--color-white);
        }
        &__link {
            display: flex;
            align-items: center;
            height: 80px;
            background-color: var(--color-accent-1);
            margin: 0;
            color: var(--color-white);
            padding: 0 10px 0 10px;
        }
        &__descr {
            line-height: 1.5;
            font-size: 18px;
            @media (max-width: 1050px) {
                padding-right: 40px;
            }
        }
    }
}
