<section class="hero">
    <div class="container hero_container">
        <div class="hero__content">
            <div class="hero__left">
                <h1 class="hero__title">Косметология</h1>
                <p class="hero__descr">Современный мир диктует новые каноны жизни: ухоженное лицо и&nbsp;тело, стройная,
                    подтянутая фигура&nbsp;&mdash; сегодня это неотъемлемые черты привлекательной внешности,
                    характеризующие человека благополучного и&nbsp;успешного.</p>
                <a href="#" class="hero__link">
                    <button class="hero__btn btn-reset">
                        <p class="hero__text">Подробнее</p>
                    </button>
                </a>
            </div>
            <div class="hero__right">
            </div>
        </div>
        <div class="links">
            <a href="#" class="links--1 links__item">
                Комлексные процедуры
            </a>
            <a href="#" class="links--2 links__item">
                Центр обучения
            </a>
            <a href="#" class="links--3 links__item">
                VIP клиентам
            </a>
        </div>
    </div>
</section>