<section class="innovations">
    <div class="container innovations__container">
        <div class="innovations__left">
            <h3 class="innovations__title">
                Инновации
            </h3>
            <p class="innovations__descr">
                Мы практикуем новый курс процедур аппаратной косметологии
            </p>
            <a href="#" class="more innovations__more">
                <div class="arrow innovations__arrow">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                        clip-rule="evenodd">
                        <path
                            d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                    </svg>
                </div>
                <p class="more__text">Подробнее</p>
            </a>
            <div class="innovations__img">
            </div>
        </div>
        <div class="innovations__right">
            <h3 class="innovations__title innovations__title--right">
                Эстетика красоты
            </h3>
            <div class="statistic">
                <div class="statistic__item">
                    <p class="statistic__number">
                        78
                    </p>
                    <p class="statistic__descr">
                        Современных центра в&nbsp;странах СНГ
                    </p>
                </div>
                <div class="statistic__item">
                    <p class="statistic__number">
                        78
                    </p>
                    <p class="statistic__descr">
                        Современных центра в&nbsp;странах СНГ
                    </p>
                </div>
                <div class="statistic__item">
                    <p class="statistic__number statistic__number--active">
                        20
                    </p>
                    <p class="statistic__descr statistic__descr--active">
                        Уникальных патентов в&nbsp;области косметологии
                    </p>
                </div>
                <div class="statistic__item">
                    <p class="statistic__number">
                        78
                    </p>
                    <p class="statistic__descr">
                        Современных центра в&nbsp;странах СНГ
                    </p>
                </div>
            </div>
            <div class="patent">

            </div>
        </div>
    </div>
</section>