<section class="news">
    <div class="container news__container">
        <div class="news__left">
            <h3 class="news__title">
                Новости
            </h3>
            <div class="tabs">
                <nav class="tabs__nav">
                    <a data-tab="#tab_1" class="tabs__nav-btn">Почему рекомендуется посещать профессионального косметолога.
                        Мнение специалиста центра.</a>
                    <a data-tab="#tab_2" class="tabs__nav-btn">Почему рекомендуется посещать профессионального косметолога.
                        Мнение специалиста центра.</a>
                    <a data-tab="#tab_3" class="tabs__nav-btn">Почему рекомендуется посещать профессионального косметолога.
                        Мнение специалиста центра.</a>
            </div>
        </div>
        <div class="news__right">
            <p class="news__right__title">
                Почему рекомендуется посещать профессионального косметолога. Мнение специалиста центра.
            </p>
            <div class="tabs__content">
                <div id="tab_1" class="tabs__item">
                    Первая вкладка. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                </div>
                <div id="tab_2" class="tabs__item">
                    Вторая вкладка. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
                <div id="tab_3" class="tabs__item">
                    Третья вкладка. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
            </div>
        </div>
    </div>
</section>