<section class="offers">
    <div class="container offers__container">
        <h2 class="offers__title">Актуальные спецпредложения</h2>
        <div class="offers__list">
            <div class="offers__item">
                <div class="offers__item__name">
                    <h3 class="offers__item__category">
                        Косметология
                    </h3>
                </div>
                <a href="#" class="offers__item__link">
                    <p class="offers__item__descr">Лазерное и фотоомоложение</p>
                    <div class="arrow offers__arrow">
                        <svg  width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                    </div>
                </a>
            </div>

            <div class="offers__item">
                <div class="offers__item__name">
                    <h3 class="offers__item__category">
                        Косметология
                    </h3>
                </div>
                <a href="#" class="offers__item__link">
                    <p class="offers__item__descr">Лазерное и фотоомоложение</p>
                    <div class="arrow offers__arrow">
                        <svg  width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                    </div>
                </a>
            </div>

            <div class="offers__item">
                <div class="offers__item__name">
                    <h3 class="offers__item__category">
                        Косметология
                    </h3>
                </div>
                <a href="#" class="offers__item__link">
                    <p class="offers__item__descr">Лазерное и фотоомоложение</p>
                    <div class="arrow offers__arrow">
                        <svg  width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                    </div>
                </a>
            </div>

            <div class="offers__item">
                <div class="offers__item__name">
                    <h3 class="offers__item__category">
                        Косметология
                    </h3>
                </div>
                <a href="#" class="offers__item__link">
                    <p class="offers__item__descr">Лазерное и фотоомоложение</p>
                    <div class="arrow offers__arrow">
                        <svg  width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>