<section class="services">
    <div class="container services__container">
        <div class="services-left">
            <div class="services-left__item-container">
                <p class="services-left__title">Услуги</p>
                <ul class="services-left__list list-reset">
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Косметология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Пластическая хирургия</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Стоматология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Лазерная медицина</a>
                    </li>
                </ul>
            </div>
            <div class="services-left__item-container">
                <p class="services-left__title">Услуги</p>
                <ul class="services-left__list list-reset">
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Косметология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Пластическая хирургия</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Стоматология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Лазерная медицина</a>
                    </li>
                </ul>
            </div>
            <div class="services-left__item-container">
                <p class="services-left__title">Услуги</p>
                <ul class="services-left__list list-reset">
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Косметология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Пластическая хирургия</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Стоматология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Лазерная медицина</a>
                    </li>
                </ul>
            </div>
            <div class="services-left__item-container">
                <p class="services-left__title">Услуги</p>
                <ul class="services-left__list list-reset">
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Косметология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Пластическая хирургия</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Стоматология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Лазерная медицина</a>
                    </li>
                </ul>
            </div>
            <div class="services-left__item-container">
                <p class="services-left__title">Услуги</p>
                <ul class="services-left__list list-reset">
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Косметология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Пластическая хирургия</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Стоматология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Лазерная медицина</a>
                    </li>
                </ul>
            </div>
            <div class="services-left__item-container">
                <p class="services-left__title">Услуги</p>
                <ul class="services-left__list list-reset">
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Косметология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Пластическая хирургия</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Стоматология</a>
                    </li>
                    <li class="services-left__item">
                        <a href="#" class="services-left__link">Лазерная медицина</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="services-right">
            <div class="services-right__container services-right__container--1">
                <p class="services-right__title">ТЕЛЕФОН</p>
                <a href="tel:+1234567890" class="services-right__tel">+7 (812) 123-45-67</a>
            </div>
            <div class="services-right__container services-right__container--2">
                <p class="services-right__title">АДРЕС</p>
                <a class="services-right__address" target="_blank" href="https://yandex.ru/maps/-/CCUubQG7SC">Невский
                    пр. 140, пом. 19</a>
                <a href="#" class="services-right__btn-link">
                    <button class="services-right__btn btn-reset">КАК ПРОЕХАТЬ?</button>
                </a>
            </div>
            <div class="services-right__container services-right__container--2">
                <p class="services-right__title">АДРЕС</p>
                <a class="services-right__address" target="_blank" href="https://yandex.ru/maps/-/CCUubQG7SC">Большой
                    пр. 12</a>
                <a href="#" class="services-right__btn-link">
                    <button class="services-right__btn btn-reset">КАК ПРОЕХАТЬ?</button>
                </a>
            </div>
        </div>
    </div>
</section>